In [30]:
# load in libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
# import the data
df = pd.read_excel('Billets.xlsx')

In [32]:
df.head(5)

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
0,True,171.81,104.86,104.95,4.52,2.89,112.83
1,True,171.46,103.36,103.66,3.77,2.99,113.09
2,True,172.69,104.48,103.50,4.40,2.94,113.16
3,True,171.36,103.91,103.94,3.62,3.01,113.51
4,True,171.73,104.28,103.46,4.04,3.48,112.54

In [33]:
# info df
df.info()
# check for missing values
df.isnull().sum()
# check for duplicates
df.duplicated().sum()
# check the data types
df.dtypes
# check the shape of the data
df.shape
# check the number of unique values in each column
df.nunique()
# check the descriptive statistics
df.describe()
# check the correlation between the columns
df.corr()
# check the unique values in the 'Type' column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   is_genuine    1500 non-null   bool
 1   diagonal      1500 non-null   float64
 2   height_left   1500 non-null   float64
 3   height_right  1500 non-null   float64
 4   margin_low    1463 non-null   float64
 5   margin_up     1500 non-null   float64
 6   length        1500 non-null   float64
dtypes: bool(1), float64(6)
memory usage: 71.9 KB

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
is_genuine,1.000000,0.132756,-0.379833,-0.485092,-0.783032,-0.606262,0.849285
diagonal,0.132756,1.000000,0.019472,-0.024492,-0.111534,-0.055649,0.097587
height_left,-0.379833,0.019472,1.000000,0.242279,0.302643,0.246522,-0.320863
height_right,-0.485092,-0.024492,0.242279,1.000000,0.391085,0.307005,-0.401751
margin_low,-0.783032,-0.111534,0.302643,0.391085,1.000000,0.431606,-0.666753
margin_up,-0.606262,-0.055649,0.246522,0.307005,0.431606,1.000000,-0.520575
length,0.849285,0.097587,-0.320863,-0.401751,-0.666753,-0.520575,1.000000

In [36]:
# print null values in the 'margin low ' column
print(df['margin_low'].isnull().sum())
# print rows with null values in the 'margin low ' column
print(df[df['margin_low'].isnull()])    
#drop the rows with null values in the 'margin low ' column
df_na = df.dropna(subset=['margin_low'])

37
      is_genuine  diagonal  height_left  height_right  margin_low  margin_up  \
72          True    171.94       103.89        103.45         NaN       3.25
99          True    171.93       104.07        104.18         NaN       3.14
151         True    172.07       103.80        104.38         NaN       3.02
197         True    171.45       103.66        103.80         NaN       3.62
241         True    171.83       104.14        104.06         NaN       3.02
251         True    171.80       103.26        102.82         NaN       2.95
284         True    171.92       103.83        103.76         NaN       3.23
334         True    171.85       103.70        103.96         NaN       3.00
410         True    172.56       103.72        103.51         NaN       3.12
413         True    172.30       103.66        103.50         NaN       3.16
445         True    172.34       104.42        103.22         NaN       3.01
481         True    171.81       103.53        103.96         NaN       2.71
505         True    172.01       103.97        104.05         NaN       2.98
611         True    171.80       103.68        103.49         NaN       3.30
654         True    171.97       103.69        103.54         NaN       2.70
675         True    171.60       103.85        103.91         NaN       2.56
710         True    172.03       103.97        103.86         NaN       3.07
739         True    172.07       103.74        103.76         NaN       3.09
742         True    172.14       104.06        103.96         NaN       3.24
780         True    172.41       103.95        103.79         NaN       3.13
798         True    171.96       103.84        103.62         NaN       3.01
844         True    171.62       104.14        104.49         NaN       2.99
845         True    172.02       104.21        104.05         NaN       2.90
871         True    171.37       104.07        103.75         NaN       3.07
895         True    171.81       103.68        103.80         NaN       2.98
919         True    171.92       103.68        103.45         NaN       2.58
945         True    172.09       103.74        103.52         NaN       3.02
946         True    171.63       103.87        104.66         NaN       3.27
981         True    172.02       104.23        103.72         NaN       2.99
1076       False    171.57       104.27        104.44         NaN       3.21
1121       False    171.40       104.38        104.19         NaN       3.17
1176       False    171.59       104.05        103.94         NaN       3.02
1303       False    172.17       104.49        103.76         NaN       2.93
1315       False    172.08       104.15        104.17         NaN       3.40
1347       False    171.72       104.46        104.12         NaN       3.61
1435       False    172.66       104.33        104.41         NaN       3.56
1438       False    171.90       104.28        104.29         NaN       3.24

      length
72    112.79
99    113.08
151   112.93
197   113.27
241   112.36
251   113.22
284   113.29
334   113.36
410   112.95
413   112.95
445   112.97
481   113.99
505   113.65
611   112.84
654   112.79
675   113.27
710   112.65
739   112.41
742   113.07
780   113.41
798   114.44
844   113.35
845   113.62
871   113.27
895   113.82
919   113.68
945   112.78
946   112.68
981   113.37
1076  111.87
1121  112.39
1176  111.29
1303  111.21
1315  112.29
1347  110.31
1435  111.47
1438  111.49

In [37]:
#check null values in df
df_na.isnull().sum()

df_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1463 entries, 0 to 1499
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   is_genuine    1463 non-null   bool
 1   diagonal      1463 non-null   float64
 2   height_left   1463 non-null   float64
 3   height_right  1463 non-null   float64
 4   margin_low    1463 non-null   float64
 5   margin_up     1463 non-null   float64
 6   length        1463 non-null   float64
dtypes: bool(1), float64(6)
memory usage: 81.4 KB